@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 18px;
}

body {
    background: hsl(217, 54%, 11%);
}